@model HomeModel
@{
  ViewData["Title"] = "Página Inicial";
}

<div class="container">
  <div class="text-center">
    <h1 class="display-4">Bem-Vindo, @Model.Nome</h1>
    <p>
      Criando meu primeiro site em MVC
    </p>
    <p>
      seu email é : @Model.Email
    </p>
  </div>
</div>
